.detail-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
    width: 90%;
    max-width: 1400px;
    margin: 40px auto;
}

.shop-info {
    flex: 1;
    max-width: 50%;
}

.shop-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.back-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    padding-bottom: 5px;
    font-size: 24px;
    color: #000;
    text-decoration: none;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.374);
}

.shop-name {
    font-size: 25px;
}

.shop-image {
    width: 90%;
    margin-bottom: 15px;
}

.shop-info p {
    width: 90%;
    font-size: 16px;
    margin-bottom: 14px;
}

.review-title {
    font-size: 18px;
    margin: 50px 0 20px 0;
    font-weight: bold;
}

.review-card {
    background: #ffffff;
    padding: 12px;
    margin-bottom: 12px;
    border-radius: 6px;
    width: 500px;
}

.review-user {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 4px;
}

.review-rating {
    color: #ffbb00;
    font-size: 14px;
    margin-bottom: 4px;
}

.review-comment {
    font-size: 13px;
    color: #000000;
}

.no-review {
    font-size: 13px;
    color: #777;
}

.reservation-card {
    flex: 1;
    max-width: 50%;
    background: #2962ff;
    padding: 30px 30px 0 30px;
    border-radius: 8px;
    color: white;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: -30px auto 0 auto;
}

.reservation-card_title {
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 0;
}

.reservation-card input {
    width: 40%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 15px;

}

.reservation-card select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 15px;
}

.form__error {
    font-size: 13px;
    color: #ffffff;
    margin-top: -10px;
    margin-bottom: 10px;
}

.reservation-item {
    display: flex;
    font-size: 14px;
    padding: 5px 0;
    font-size: 16px;
    margin: 0;
}

.reservation-item .label {
    width: 120px;
}

.reservation-item .value {
    flex: 1;
}

.summary-box {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 300px;
    padding: 15px;
}

.reservation-card button {
    width: calc(100% + 60px);
    padding: 14px;
    font-size: 15px;
    background: #113ff9;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    margin-bottom: 0;
    margin-left: -30px;
    margin-right: -30px;
}
