.mypage-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
    padding: 40px 60px;
    max-width: 1400px;
    width: 90%;
    margin: 0 auto;
}

.reservation-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.reservation-container {
    flex: 1;
    margin-left: 30px;
}

.clock-icon {
    width: 50px;
    height: 50px;
    margin-top: -5px;
}

.reservation__title {
    position: relative;
    font-size: 22px;
    margin-bottom: 20px;
    font-weight: bold;
    margin-top: 60px;
    padding-left: 16px;
}

.reservation-card {
    width: 430px;
    background: #2962ff;
    color: #FFFFFF;
    padding: 20px;
    margin-bottom: 25px;
    border-radius: 5px;
    position: relative;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.582);
}

.reservation-header {
    display: flex;
    gap: 25px;
}

.reservation-card__title {
    font-size: 15px;
    margin: 10px 0 15px 0;
}

.reservation-item {
    display: flex;
    font-size: 14px;
    margin: 4px 0;
    padding: 10px 0;
}

.reservation-item .label {
    width: 90px;
}

.edit-btn {
    position: absolute;
    right: 70px;
    top: 18px;
    color: #ffffff;
    background-color: #ffffff4f;
    padding: 4px 8px;
    border-radius: 3px;
    font-size: 12px;
    display: inline-block;
    text-decoration: none;
    margin-top: 11px;
}

.cancel-btn {
    position: absolute;
    right: 20px;
    top: 12px;
    padding: 6px 10px;
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 11px;
}

.cancel-btn span {
    font-size: 26px;
    color: white;
}

.empty-message {
    font-size: 16px;
    color: #666;
    margin: 50px 0 50px 50px;
}

.favorite-container {
    flex: 2;
    margin-left: 70px;
}

.favorite__title {
    font-size: 22px;
    margin-bottom: 20px;
    font-weight: bold;
}

.favorite-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, max-content));
    gap: 30px;
    justify-content: flex-start;
}

.user-name {
    font-size: 25px;
    font-weight: bold;
    color: #000000;
    margin-top: -5px;
}

.shop-card {
    background: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    width: 280px;
    height: 280px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.582);
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}

.shop-card__image {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.shop-card__body {
    padding: 16px;
    position: relative;
}

.shop-card__body h3 {
    font-size: 17px;
    margin: 0 0 4px 0;
}

.shop-card__body p {
    font-size: 11px;
    color: #000000;
    margin-bottom: 12px;
}

.btn-detail {
    display: inline-block;
    background: #2962ff;
    color: white;
    padding: 6px 14px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 12px;
}

.favorite-btn {
    position: absolute;
    right: 15px;
    bottom: 15px;
}

.favorite-icon {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.favorite-icon .material-icons {
    font-size: 38px;
    color: #ccc;
}

.favorite-icon.active .material-icons {
    color: #ff0000;
}

.qr-link {
    position: absolute;
    right: 30px;
    bottom: 25px;
    color: #ffffff;
    background-color: #ffffff4f;
    padding: 4px 8px;
    border-radius: 3px;
    font-size: 14px;
    display: inline-block;
    text-decoration: none;
    margin-top: 11px;
}

.review-status {
    font-size: 14px;
}

.review-link {
    text-decoration: none;
    color: #FFFFFF;
    display: inline-block;
    background-color: #ffffff4f;
    padding: 6px 10px;
    border-radius: 3px;
    font-size: 14px;
    margin: 10px 0 10px;
}


