.register__content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #f1f1f1;
}

.register-card {
    width: 450px;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.55);
    overflow: hidden;
    margin-top: -100px;
}

.register-card .title {
    background-color: #2962ff;
    color: #fff;
    margin: 0;
    padding: 18px 20px;
    font-size: 16px;
}

.form {
    padding: 25px 30px;
}

.form-group {
    margin-bottom: 30px;
    position: relative;
}

.form-group i {
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    color: #515151;
    font-size: 18px;
    line-height: 0;
}

.form-group input {
    padding-left: 35px;
    width: 100%;
    border: none;
    font-size: 15px;
    outline: none;
}

.form-group::after {
    content: "";
    position: absolute;
    left: 35px;
    right: 0;
    bottom: 0;
    height: 1px;
    background: #000;
}

.form__error {
    position: absolute;
    bottom: -20px;
    left: 35px;
    color: #ff0000;
    font-size: 13px;
}

.form__button {
    text-align: right;
}

.form__button--submit {
    background-color: #2962ff;
    border: none;
    color: #fff;
    padding: 8px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
}

.lock-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 35px;
    height: 35px;
    object-fit: contain;
}

.man-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 35px;
    height: 35px;
    object-fit: contain;
}