.reservation-card {
    flex: 1;
    max-width: 50%;
    background: #2962ff;
    padding: 30px 30px 0 30px;
    border-radius: 8px;
    color: white;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 80px auto 0 auto;
}

.reservation-card_title {
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 0;
}

.reservation-card input {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: none;

}

.reservation-card select {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.reservation-item {
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 30px 0;
    font-size: 16px;
    margin: 0;
}

.reservation-item .label {
    width: 100px;
}

.edit-button {
    width: calc(100% + 60px);
    padding: 14px;
    font-size: 15px;
    background: #113ff9;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    margin: 50px -30px 0 -30px;
}