.thanks__content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    padding-top: 80px;
}

.thanks__title {
    font-size: 24px;
    margin-bottom: 30px;
    margin-top: 50px;
}

.thanks-card {
    background: #FFFFFF;
    padding: 40px 50px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.401);
    text-align: center;
    padding: 50px 60px;
    max-width: 500px;
    width: 100%;
    border-radius: 5px;
}

.btn {
    display: inline-block;
    background: #2962ff;
    color: white;
    padding: 6px 15px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 50px;
}