.shop-create-wrapper {
    max-width: 700px;
    margin: 0 auto 50px;
    background: #ffffff;
    padding: 40px 50px;
    border-radius: 5px;
}

.shop-create-title {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    color: #000000;
}

.shop-create-wrapper .form-group {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 25px;
}

.shop-create-wrapper .form-label {
    font-size: 16px;
    font-weight: bold;
    color: #000000;
}

.shop-create-wrapper .form-input,
.shop-create-wrapper select,
.shop-create-wrapper textarea {
    width: 100%;
    padding: 12px 14px;
    border: 1px solid #cccccc;
    border-radius: 6px;
    font-size: 16px;
}

.shop-create-wrapper textarea {
    min-height: 120px;
}

.btn {
    width: 100%;
    padding: 14px 0;
    font-size: 18px;
    border-radius: 6px;
    background: #2962ff;
    color: #ffffff;
    border: none;
    cursor: pointer;
    margin-top: 50px;
    margin: 30px 0 20px 0;
}

.form__error {
    color: #ff0000;;
    font-size: 15px;
}