.mail-send-wrapper {
    max-width: 600px;
    margin: 40px auto;
    padding: 30px;
    background: #ffffff;
}

.mail-send__title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 25px;
    text-align: center;
}

.label {
    display: block;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 6px;
    color: #000000;
}

.form-input {
    width: 100%;
    padding: 10px 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.form-input:focus {
    outline: none;
    border-color: #2962ff;
    box-shadow: 0 0 0 1px rgba(41, 98, 255, 0.2);
}

textarea.form-input {
    min-height: 150px;
    resize: vertical;
}

.form__error {
    margin-top: -10px;
    margin-bottom: 15px;
    font-size: 13px;
    color: #ff0000;;
}

.btn {
    width: 100%;
    padding: 12px;
    background: #2962ff;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    margin: 30px 0 10px;
    cursor: pointer;
}
