html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

body {
    display: flex;
    flex-direction: column;
}

.header__inner {
    display: flex;
    align-items: center;
    gap: 18px;
    padding-top: 60px;
}

.title {
    color: #2962ff;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
}

.header__menu-btn {
    background: #2962ff;
    border: none;
    padding: 5px;
    margin-left: 70px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.422);
}

.menu-icon-wrapper {
    background: #2962ff;
    padding: 4px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.side-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 999;
}

.side-menu.open {
    transform: translateX(0);
}

.side-menu__close {
    position: absolute;
    top: 15px;
    left: 15px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.side-menu__close .close-icon {
    font-size: 35px;
    background: #2962ff;
    border-radius: 5px;
    width: 35px;
    height: 35px;
    color: #ffffff;
    line-height: 1;
}

.side-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.side-menu li {
    margin: 20px 0;
}

.side-menu a,
.side-menu button {
    font-size: 28px;
    color: #2962ff;
    background: none;
    border: none;
    text-decoration: none;
}

.menu-icon {
    width: 18px;
    height: 18px;
}

main {
    flex: 1;
}


.header {
    background-color: #f1f1f1;
}

